*{
  color: white;
  font-family: 'Gudea', sans-serif;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.973);
  margin: 0;
}

body{
  background: url(https://source.unsplash.com/collection/2392608/1600x900);
  text-align: center;
  overflow: hidden;
}

/* ----------------------------Welcome */

.welcome-message h1 {
  font-size: 5rem;
  font-family: 'Pacifico';
  margin-top: 15rem;
}

.welcome-message h5{
  font-size: 2rem;
}

.welcome-header:hover{
  cursor: pointer;
}
  
.welcome-header-two{
  font-size: 3rem;
}

/* ---------------------Current weather */

.current-weather-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.current-temp {
  font-size: 7rem;
  text-shadow: 3px 3px 3px black;
}

.current-bottom-row {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
}

.weather-conditions {
  font-size: 1.5rem;
}

/* ---------------Home / Local Storage */

.home-block{
  display: block;
  text-align: center;
}

.fa-home {
  font-size: 2rem;
}

.fa-home:hover {
  color: rgb(50, 163, 255);
  cursor: pointer;
}

.set-home-button{
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}

.set-home-button:hover{
  color: rgb(50, 163, 255);
  text-shadow: 2px 2px 2px black;
}

/* ----------------------------search */

.search-bar {
  background-color: rgba(0, 0, 0, 0.767);
  border: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem .5rem;
  text-align: center;
  width: 20rem;
}

.app input::placeholder {
  color: rgb(179, 179, 179);
}

button {
  background-color: rgba(0, 0, 0, 0.767);
  border: none;
  border-left: 3px solid rgb(50, 163, 255);
  font-size: 1rem;
  display: inline-block;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.767);
}

/* ---------------------Hourly/ Daily weather */

.seven-hour-button,
.ten-day-button {
  cursor: pointer;
  font-size: 1rem;
  padding: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
}

.ten-day-button {
  padding-left: 2.5rem;
}

.seven-hour-button:hover,
.ten-day-button:hover {
  color: rgb(50, 163, 255);
}

.seven-hour-weather,
.ten-day-weather {
  display: flex;
  font-size: .5rem;
  justify-content: space-around;
  overflow: scroll;
  background-color: rgba(2, 2, 8, 0.664);
}

.seven-hour-temp {
  padding-bottom: 1.5rem;
}

.ten-day-date {
  padding-bottom: .5rem;
}

.ten-day-card {
  align-items: center;
  font-size: .55rem;
  padding: 0 2rem;
}

.ten-day-weather {
  padding: 1rem;
}

.seven-hour-section {
  padding: .8rem;
}

.ten-day-high,
.ten-day-low {
  font-size: .7rem;
  display: inline;
}

.ten-day-low {
  color: grey;
}

.seven-hour-icon,
.ten-day-icon {
  width: 3rem;
}

/* ----------------------------🦄 */

.fa-github {
  font-size: 2rem;
  position: relative;
  top: 18rem;
}

.fa-github:hover {
  animation: 🦄 3s linear infinite;
  color: rgb(239, 120, 255);
  cursor: pointer;
}

.welcome-message h5 {
  margin-bottom: 5rem;
}


@keyframes 🦄 {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

/* -------------------Media Queries-*/

@media only screen and (max-width: 700px) {
  .welcome-message h1 {
    font-size: 4rem;
    font-family: 'Pacifico';
    margin-top: 15rem;
  }

  .welcome-message h5{
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .seven-hour-weather,
  .ten-day-weather {
  padding-left: 1rem;
}

  .seven-hour-section ,
  .ten-day-card {
  margin-left: 2.5rem;
}
}