.app {
  text-align: center;
}

body{
  background:url(img/sky.jpeg)
}

.title {
  font-size: 5rem;
  color: #f4f4f4;
}

.welcome-header {
  font-size: 5rem;
  color: #f4f4f4;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-temp {
  font-size: 2rem;
}

.current-bottom-row {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.ten-day-weather {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.ten-day-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b19597;
  font-size: .75rem;
  height: 33vh;
  width: 9.7%;
  border-radius: 5%;
  color: #f4f4f4;
  opacity: .6;
}

.ten-day-day {
  color: black;
  margin-bottom: 0;
}

.ten-day-date {
  margin: 0 auto 8px;
  font-size: .8rem;
  color: black;
}

.ten-day-icon {
  width: 3rem;
}

.ten-day-high {
  margin-bottom: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}