*{
  color: white;
  font-family: 'Gudea', sans-serif;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.973);
  margin: 0;
}

body{
  background: url(https://source.unsplash.com/collection/148982/1600x900);
  text-align: center;
}

/* ----------------------------Welcome */

.welcome-message h1 {
  font-size: 5rem;
  font-family: 'Pacifico';
  margin-top: 15rem;
}

.welcome-message h5{
  font-size: 3rem;
}

/* ---------------------Current weather */

.current-weather-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.current-temp {
  font-size: 10rem;
}

.current-bottom-row {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.weather-conditions{
  font-size: 1.5rem;
}

/* ---------------Home / Local Storage */

.fa-home {
  font-size: 2rem;
}

.fa-home:hover {
  color: rgb(226, 226, 226);
  cursor: pointer;
}

.set-home-button{
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.set-home-button:hover{
  color: rgb(50, 163, 255);
  text-shadow: 2px 2px 2px black;
}

/* ----------------------------search */

.search-bar{
  background-color: rgba(0, 0, 0, 0.767);
  border: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  font-size: 1rem;
  margin-top: 3.3rem;
  padding: 1rem .5rem;
  transition: .5s;
  text-align: center;
  width: 20rem;
  position: relative;
}

.app input::placeholder{
  color: rgb(179, 179, 179);
}

button {
  background: none;
  border: none;
  border-radius: 50px;
  display: block;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
}

/* ---------------------Hourly/ Daily weather */


.seven-hour-button,
.ten-day-button {
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  padding: 3rem;
  text-transform: uppercase;
}

.seven-hour-weather,
.ten-day-weather {
  background-color: rgba(2, 2, 8, 0.849);
  display: flex;
  font-size: .5rem;
  justify-content: space-around;
  margin-top: 2.3rem;
  overflow: scroll;
}

.seven-hour-temp{
  padding-bottom: 1.5rem;
}

.seven-hour-button:hover,
.ten-day-button:hover {
  color: rgb(206, 206, 206);
}

.ten-day-card {
  align-items: center;
  font-size: .55rem;
  padding: 0 2rem;
}

.ten-day-weather{
  padding: 1rem;
}

.seven-hour-section{
  padding: .9rem;
}

.ten-day-high,
.ten-day-low{
  font-size: .7rem;
  display: inline;
}

.ten-day-low{
  color: grey;
}

.seven-hour-icon,
.ten-day-icon {
  width: 2rem;
}


/* ----------------------------🦄 */

.fa-github{
  font-size: 3rem;
}

.fa-github:hover{
  animation: 🦄 3s linear infinite;
  color: rgb(239, 120, 255);
  cursor: pointer;
}

@keyframes 🦄 {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

@media only screen and (max-width: 700px){
  
  
  .welcome-message h1 {
    font-size: 4rem;
    font-family: 'Pacifico';
    margin-top: 15rem;
  }

  .welcome-message h5{
    font-size: 1.3rem;
  }
}